<a href="https://colab.research.google.com/github/yoonyoung27/public_big_data_analysis/blob/main/programmers_level1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###이진수로 변환하기

https://tech.kakao.com/2017/09/27/kakao-blind-recruitment-round-1/  
1번

In [ ]:
a = 30  #arr1[m]
max = 0
bino = 0  #arr3[m]
while True:
    for k in range(0,10):
        if a >= 2**k:
            max = k
    bino = bino + 10**max
    a = a - 2**max
    print(bino)
    if a == 0:
        break

10000
11000
11100
11110

In [ ]:
solution(5, [9, 20, 28, 18, 11], [30, 1, 21, 17, 28])

['01001', '10100', '11100', '10010', '01011'] ['11110', '00001', '10101', '10001', '11100']

['#####', '# # #', '### #', '#  ##', '#####']

In [ ]:
def solution(n, arr1, arr2):
    answer = []
    return answer

In [ ]:
arr1 = [9, 20, 28, 18, 11]
arr3 = []
for m in range(0,5):
    max = 0
    A = 0
    while True:
        for k in range(0,10):
            if arr1[m] >= 2**k:
                max = k
        A = A + 10**max
        arr1[m] = arr1[m] - 2**max
        if arr1[m] == 0:
            A = str(A)
            arr3.append(A)
            break

In [ ]:
arr3

['1001', '10100', '11100', '10010', '1011']

In [ ]:
def solution(n, arr1, arr2):
    arr3 = []
    for m in range(0,n):
        max = 0
        A = 0
        while True:
            for k in range(0,10):
                if arr1[m] >= 2**k:
                    max = k
            A = A + 10**max
            arr1[m] = arr1[m] - 2**max
            if arr1[m] == 0:
                A = str(A)
                if len(A) < n:
                    str2 = ''
                    for t in range(0,n-len(A)):
                        str2 = str2 + '0'
                    A = str2 + A
                arr3.append(A)
                break
    arr4 = []
    for m in range(0,n):
        max = 0
        A = 0
        while True:
            for k in range(0,10):
                if arr2[m] >= 2**k:
                    max = k
            A = A + 10**max
            arr2[m] = arr2[m] - 2**max
            if arr2[m] == 0:
                A = str(A)
                if len(A) < n:
                    str2 = ''
                    for t in range(0,n-len(A)):
                        str2 = str2 + '0'
                    A = str2 + A
                arr4.append(A)
                break
    print(arr3, arr4)
    answer = []
    for x in range(0,n):
        last = ''
        for y in range(0,n):
            if arr3[x][y] == '1' or arr4[x][y] == '1':
                last = last + '#'
            else:
                last = last + ' '
        answer.append(last)
    return answer

In [ ]:
solution(5, [9, 20, 28, 18, 11], [30, 1, 21, 17, 28])

['01001', '10100', '11100', '10010', '01011'] ['11110', '00001', '10101', '10001', '11100']

['#####', '# # #', '### #', '#  ##', '#####']

###문자열 반복문

In [4]:
def square(n, m):
    for a in range(0,m):
        for b in range(0,n):
            print('*', end = '')
        print('')

In [5]:
square(5,3)

*****
*****
*****

In [8]:
a, b = map(int, input().strip().split(' '))
print(('*'*a + '\n')*b)

5 3
*****
*****
*****